.bg_sect {
  background-color: #84b7fe;
}

.bg {
  background-color: #e9ecc3;
}

.left-right {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* height: 200vh; */
  width: 100%;
  border-style: none;
  column-gap: 0px;
}

.navigasi {
  flex-basis: 20%;
  background-color: #e9ecc3;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: large;
}

.konten1 {
  flex-basis: 50%;
  background-color: rgb(208, 196, 177);
  padding: 10px;
  font-size: smaller;
  font-family: Tahoma;
}
