.left-right {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100vw;
  border-style: none;
}

.navigasi {
  flex-basis: 20%;
  background: #008f96;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: large;
}

.konten1 {
  flex-basis: 80%;
  background-color: #009097;
  padding-top: 30px;
  font-size: smaller;
  font-family: Tahoma;
}
.sect_foot {
  color: white;
  background-color: rgb(13, 72, 42);
  width: 100vw;
  text-align: center;
  font-size: large;
}
.category-title {
  display: flex;
  text-align: left;
  color: rgb(171, 230, 213);
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.category-subtitle {
  display: flex;
  color: white;
  justify-items: flex-start;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.kontak {
  text-align: left;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: medium;
  color: white;
}
